/*Import the dependecies*/
@import 'materialize.scss'
@import url('https://fonts.googleapis.com/css?family=Varela+Round')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')


/*=====================================*/

/*Bulma*/


/*=====================================*/
/*Materialize*/

// Color
@import "components/color-variables"
@import "components/color-classes"
// Variables;
@import "components/variables"

// Reset
@import "components/normalize"

// components
@import "components/global"
@import "components/badges"
@import "components/icons-material-design"
@import "components/grid"
@import "components/navbar"
@import "components/typography"
@import "components/transitions"
@import "components/cards"
@import "components/toast"
@import "components/tabs"
@import "components/tooltip"
@import "components/buttons"
@import "components/dropdown"
@import "components/waves"
@import "components/modal"
@import "components/collapsible"
@import "components/chips"
@import "components/materialbox"
@import "components/forms/forms"
@import "components/table_of_contents"
@import "components/preloader"
@import "components/slider"
@import "components/carousel"
@import "components/tapTarget"
@import "components/pulse"
@import "components/datepicker"
@import "components/timepicker"

/*Variables*/
$main-font:'Varela Round', sans-serif
$main-color: #7f3f98


/*Start css*/
body
  font-family: $main-font

h1, h2, h3, h4, h5, h6
  font-family: $main-font
  color: $main-color

.btn, .btn-large, .btn-small
  background: $main-color

.btn:hover, .btn-large:hover, .btn-small:hover
  background: #e8d127
  color: #444
p .description_01
  text-align: justify
.main-header
  margin-top: 20px
footer ul
  display: inline-block

  footer li
    display: inline
.header-credit
  border: 1px solid #e4e4e4
  border-radius: 2px

.header-credit .row
  padding: 0 20px

.header-credit
  text-align: left
  text-transform: uppercase

.pre-authorized-success
  border: 1px solid green

.pre-authorized-denied
  border: 1px solid red

.sbu-header
  background: #e4e4e4
  padding: 17px 0 17px 17px
  text-align: left
  text-transform: uppercase
  margin-bottom: 20px

.admin-badge i
  float: right
  padding-right: 17px

.delete-badge
  float: right
  margin-top: -10px

.delete-badge i
  color: red
  font-weight: 900

.credit_numbers
  font-family: monospace, monospace

.collection .collection-item.avatar
  min-height: auto
  padding-left: 72px
  position: relative

.dropdown-trigger
  float: right
  margin-top: -41px

.collection .collection-item.avatar
  min-height: auto
  padding-left: 20px
  position: relative

.monitoring-icons-form
  margin-top: 12px
/*Mobile version*/
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px)

